*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    background-color: #333;
    width: 100%;
    z-index: 3;
    padding: 20px 0;
  }
  
  .navbar .container {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggler .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nav-links li:first-child {
    margin-left: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffcc00;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    body{
      width: 100%;
    }
    html {
      display: flex;
    }
    .navbar .container {
    
      flex-direction: row;
      align-items: flex-start;
    }
  
    .navbar-toggler {
        margin:15px auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      display: block;
      position: absolute;
      right: 0;
    }
  
    .nav-links {
      display: none;
      width: 100%;
      background-color: #333;
      padding: 20px 0;
    }
  
    .nav-links.open {
      display: block;
    }
  
    .nav-links li {
      display: block;
      margin: 50px 0;
      text-align: right;
    }
  }
  
  /* Hero section styles */
.hero {
    background-image: url('hero-bg.png'); /* Replace 'hero-bg.jpg' with your actual image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .headline {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5); /* Outer shadow, Inner shadow */
 
    font-size: 4em;
    margin-bottom: 20px;
    z-index: 1;
  }
  
  .subheadline {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5); /* Outer shadow, Inner shadow */
 
    font-size: 1.5em;
    margin-bottom: 30px;
    z-index: 1;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    z-index: 1;
    color: #222;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #ffc600;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .headline {
      font-size: 2em;
    }
  
    .subheadline {
      font-size: 1.2em;
    }
  
    .cta-button {
      font-size: 1em;
    }
  }
 /* about us */
 .about .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
  }
  
  .about .container h3 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 200px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid white;
    padding: 10px;
    z-index: 1;
  }
  
  .section-description {
    z-index: 1;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .quote {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .quote-text {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .quote-author {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  
  .about-image {
    z-index: 1;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .section-title {
      font-size: 28px;
    }
  
    .section-description {
      font-size: 16px;
    }
    
    .quote-text {
      font-size: 18px;
      margin: 20px;
    }
  
    .quote-author {
      font-size: 16px;
    }
  }


/* Dark theme styles for menu section */
body {
    background-color: #1f1f1f;
    color: #ffffff;
  }
  
  .menu .container {
    z-index: 1;
    max-width: 960px;
    margin: 50px auto;
    padding: 10px;
  }
  .menu .container h2{
    margin: 30px  auto;justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    border-bottom: 3px solid white;
  }
  .menu {
    z-index: 1;
    padding: 20px 0;
  }
  
  .menu-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .menu-item {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
  .menu-item img {
    width: 500px;

  }
  .item-details, .menu-item-info {
    padding: 15px;
    background-color: #333333;
    border-radius: 5px;
  }
  
  .item-name {
    margin-top: 0;
  }
  
  .item-description {
    margin-bottom: 10px;
  }
  
  .item-price {
    margin: 0;
    font-weight: bold;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .menu-item {
      width: 100%;
    }
    .menu-item img {
      width: 300px;
      justify-content: center;
      position: relative;
      margin: auto;
      display: flex;
      align-items: center;
      
    }
    .big-container .image img{
      display: none;
    }
    .contact-form {
      width: 100%;
      justify-content: center;
      margin: 10px auto;
      align-items: center;
      flex-direction: column;  
      display: flex;
    }
  }
  /* contact us */
  section .big-container {
    width: 100%;
    z-index: 1;
    margin: 50px 0 10px 0;
    padding: 10px;
  }
  section .big-container .container {
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
  }
  .big-container .section-title {
    font-size: 2rem;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    width: 180px;
    margin: 20px auto;
    display: flex;
    left: 0;
  }
  
  .section-description {
    z-index: 1;
    font-size: 1.2rem;
    text-align: center;
  }
  .big-container {
    display: flex;
    flex-direction: row;
  }
  .big-container .img img{
    width: 100px;
    height: 100px;
  }
  .contact-form {
    width: 100%;
    justify-content: left;
    left: 0;
    flex-direction: column;  
    display: flex;
  }
  .contact-form input::placeholder {
    font-size: 18px;
  }
  .contact-form input,
  .contact-form textarea {
    margin: 10px;
    padding: 10px;
    border: none;
    font-size: 18px;
    width: 100%;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    height: 50px;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .submit-button {
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    margin: 10px;
    height: 56px;
  }
  
  .submit-button:hover {
    background-color: #ffa726;
  }
  
  .response {
    text-align: center;
    margin-top: 20px;
  }

/* reviews */
/* Review container */
.review {
    z-index: 1;
    width: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333; /* Dark background for reviews */
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
  }
  .meal-image{
    width: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.meal-image img {
    width: 100%;
    display: flex;
}
  .review p {
    width: 60%;   
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px auto;
  }
  .review h3{
    margin: 15px;
  }
  .swiper-container {
    z-index: 1;
    background: #1f1f1f;
    min-height: 100%;
  }
  .swiper-container h1{
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .carousel-cell {
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .carousel-cell {
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .review {
    width: 100%;
    margin: 10px;
  }
  .carousel-cell{
    width: 100%;
  }
}
/* sass to css */

.card img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}
.card-content ul i {
  color: #fff;
  font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
}
ul i:hover {
  color: #f2709c;
}

section .our-team {
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-block: min(20vh, 6rem);
  text-align: center;
  width: min(90rem, 90%);
}
.our-team span,
.our-team p,
.our-team h2,
.our-team h3 {
  letter-spacing: 0.035rem;
}
.our-team p {
  padding: 10px;
  line-height: 1.6;
  color: #a3a3a3;
  max-width: 50rem;
  margin: 15px auto;
  font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
}
.our-team .bg-watermark {
  color: #1f1f1f;
  font-size: clamp(6rem, 1.3333rem + 14.9333vw, 20rem);
  font-weight: 800;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translatex(-50%) translatey(-15%);
  user-select: none;
  letter-spacing: 0.5rem;
}
.our-team span {
  text-transform: uppercase;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #a3a3a3;
  padding: 10px;
}
.our-team h2 {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  width: 200px;
  border-bottom: 3px solid white;
  margin-top: -0.625rem;
  color: #fff;
}
.our-team .cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 2rem;
}
@media screen and (min-width: 51rem) {
  .our-team .cards {
    gap: 0;
    padding-bottom: 2.5rem;
  }
}
.our-team .cards .card {
  position: relative;
  cursor: pointer;
}
.our-team .cards .card h3,
.our-team .cards .card p {
  text-transform: capitalize;
}
section .cards .card h3 {
  font-size: clamp(1rem, 0.9167rem + 0.2667vw, 1.25rem);
  font-weight: 400;
  color: #f6f6f6;
}
section .cards .card p {
  font-size: clamp(0.85rem, 0.75rem + 0.32vw, 1.15rem);
  letter-spacing: 0.12rem;
  font-weight: 300;
  max-width: 100%;
}
section .cards .card::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 6.25rem;
  z-index: 0;
  transition: 0.3s ease-in-out;
  background: #f2709c;
  background: -webkit-linear-gradient(to left, #ff9472, #f2709c);
  background: linear-gradient(to left, #fffc63, #ecce1e);
  top: -0.375rem;
  left: -0.375rem;
}
section .cards .card::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #232526;
  background: -webkit-linear-gradient(to bottom, hsla(210deg, 2.99%, 26.27%, 0.2), hsla(0deg, 0%, 3.14%, 0.9));
  background: linear-gradient(to bottom, hsla(210deg, 2.99%, 26.27%, 0.2), hsla(0deg, 0%, 3.14%, 0.9));
}
section .cards .card img {
  filter: grayscale(100%);
  transition: 0.5s ease;
}
section .cards .card-content {
  position: absolute;
  bottom: 0;
  z-index: 99;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 1.875rem 1.25rem;
  text-align: center;
}
section .cards .card-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
section .cards .card:hover img {
  filter: grayscale(0%);
}
section .cards .card:hover::before {
  transform: scale(1.03);
}
section .cards .card:nth-child(1)::before {
  top: -0.375rem;
  left: -0.375rem;
}
@media screen and (min-width: 31.25rem) {
  section .cards .card:nth-child(2) {
    transform: translatey(15%);
  }
}
section .cards .card:nth-child(2)::before {
  bottom: -0.375rem;
  left: -0.375rem;
  top: auto;
}
section .cards .card:nth-child(3)::before {
  top: -0.375rem;
  left: -0.375rem;
}

/* torn paper */
*::before,
*::after {
    box-sizing: border-box;
}
.tornpaper {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}
.tornpaper{
    font-family: "Asap", sans-serif;
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
    color: white;
    display: grid;
    place-items: center;
    transform: translateZ(0);
}
.tornpaper::before {
    content: "";
    position: absolute; /* or fixed */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%; /* or 100vh */
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("torn-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    transform: translateZ(0);
}
.tornpaper main {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}
.tornpaper footer {
    position: relative;
    font-family: "Asap", sans-serif;
    margin: 1rem 0;
    color: #555;
}
.tornpaper a {
    color: currentColor;
    font-weight: bold;
}
.tornpaper #gallery {
    --size: 200px;
    --gap: 10px;
    --space: 5px;
    --angle: 0deg;

    position: relative;
    width: min(100%, 1000px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
    gap: var(--gap);
    padding: var(--gap);
    overflow: hidden;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5));
    transform: translateZ(0);
}
@media (max-width: 700px) {
  .tornpaper #gallery {
        --size: 170px;
    }
}
.tornpaper .card {
    --img: url();
    --pin-x: 50%;
    --pin-y: 0.5rem;
    --pin-angle: 10deg;
    --pin-color: crimson;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.25;
    padding: 0.75rem;

    display: grid;
    place-items: center;
    background-color: papayawhip;
    background-image: var(--img);
    background-position: center;
    background-size: cover;
    transform-origin: var(--pin-x) var(--pin-y);
    transform: translateZ(0) rotate3d(0, 0, 1, var(--pin-angle));
    isolation: isolate;
}
.tornpaper .card:after {
    position: absolute;
    top: var(--pin-y);
    left: var(--pin-x);
    width: 0.7rem;
    height: 0.7rem;
    content: "";
    background: var(--pin-color);
    border-radius: 50%;
    box-shadow: -0.1rem -0.1rem 0.3rem 0.02rem rgba(0, 0, 0, 0.5) inset;
    filter: drop-shadow(0.3rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
    transform: translateZ(0);
}
article:nth-child(7n of .card) {
    --pin-color: orangered;
    --pin-angle: 5deg;
}
article:nth-child(7n + 1 of .card) {
    --pin-color: gold;
    --pin-angle: -2deg;
}
article:nth-child(7n + 2 of .card) {
    --pin-color: crimson;
    --pin-angle: 3deg;
}
article:nth-child(7n + 3 of .card) {
    --pin-color: skyblue;
    --pin-angle: -3deg;
}
article:nth-child(7n + 4 of .card) {
    --pin-color: deeppink;
    --pin-angle: -5deg;
}
article:nth-child(7n + 5 of .card) {
    --pin-color: orchid;
    --pin-angle: 2deg;
}
article:nth-child(7n + 6 of .card) {
    --pin-color: springgreen;
    --pin-angle: 5deg;
}

.tornpaper .card h2 {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.tornpaper .card * {
    overflow-wrap: anywhere;
    mix-blend-mode: difference;
}
.tornpaper .card.no_bg > div {
    margin: 2rem 0;
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1.7rem;
}
.tornpaper .card.no_bg * {
    color: dimgray;
    mix-blend-mode: inherit;
    line-height: 0.8;
}

#scrollUpBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  z-index: 3;
  box-shadow:
  0.3px 1.2px 13.9px rgba(0, 0, 0, 0.107),
  0.7px 3px 9.7px rgba(0, 0, 0, 0.105),
  1.4px 5.6px 12.6px rgba(0, 0, 0, 0.098),
  2.5px 10.1px 28.2px rgba(0, 0, 0, 0.089),
  4.6px 18.8px 63.4px rgba(0, 0, 0, 0.08),
  11px 45px 133px rgba(0, 0, 0, 0.07)
;
}
#scrollUpBtn i {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
}
footer{
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
.animated-text {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(45deg, #eafd40, #daff94, #fffb14); /* Define the gradient colors */
  -webkit-background-clip: text; /* Apply text as the background clip for WebKit browsers */
  -webkit-text-fill-color: transparent; /* Make text transparent so the gradient shows through */
  animation: gradientAnimation 5s infinite; /* Apply the animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start position of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Middle position of the gradient */
  }
  100% {
    background-position: 0% 50%; /* End position of the gradient */
  }
}

